form.manual-selection-form .filter-wrap {
  float: none;
  clear: both;
  width: 60%;
  display: flex;
  align-items: center;
}

/* @see https://stackoverflow.com/a/41625751/1551356 */
form.manual-selection-form .filter-wrap:first-child,
:not(.filter-wrap) + .filter-wrap {
  padding-top: 25px;
}

form.manual-selection-form .filter-wrap.active,
form.manual-selection-form .filter-wrap.always-visible {
  padding-bottom: 15px;
}

form.manual-selection-form .filter-wrap .form-item {
  width: 20%;
  margin: 0 1.5rem 0 0;
}

form.manual-selection-form .filter-wrap .form-item input[type="text"],
form.manual-selection-form .filter-wrap .form-item select {
  width: 100%;
}

form.manual-selection-form .filter-wrap .form-item.form-disabled {
  display: none;
}

form.manual-selection-form .filter-wrap.always-visible .label {
  width: 20%;
  margin: 0 1.5rem 0 0;
}

form.manual-selection-form .filter-wrap .form-item[class$="-max"] {
  display: flex;
  align-items: center;
}

form.manual-selection-form .filter-wrap .form-item[class$="-max"] label {
  padding-right: 10px;
  margin-left: -10px;
  margin-bottom: 0;
}

form.manual-selection-form .form-item.form-item-manual-select-filter {
  clear: both;
}

form.manual-selection-form .form-item.form-item-manual-select-filter.active {
  margin-bottom: -5em;
}

form.manual-selection-form .filter-wrap:after {
  content: "";
  clear: both;
  display: table;
}

form.manual-selection-form .filter-wrap input[disabled],
form.manual-selection-form .filter-wrap select[disabled] {
  display: none;
}


.form--inline .flexible-views-manual-selection-details .form-item {
  float: none;
}
